asgiref
boto3
botocore
dj-database-url
Django
django-appconf
django-crispy-forms
django-heroku
django-imagekit
django-storages
django-taggit
docutils
gunicorn
jmespath
pilkit
Pillow
psycopg2
python-dateutil
python-decouple
pytz==2021.3
s3transfer
six==1.16.0
sqlparse
urllib3
whitenoise
