 {% extends "awadz/base.html" %} 
 {% block title %}
   <title>Confirm delete * {{post.title}} - Awadz</title> 
 {% endblock %}
 {% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Project</legend>
            <h5>Are you sure you want to delete the project?</h5>
            <h3>"{{ post.title }}"</h3>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger btn-sm" type="submit">Yes, Delete
            </button>
            <a class="btn btn-outline-secondary btn-sm"
               href="{% url 'awadz:post-detail' post.id %}">Cancel
            </a>
            <br><small>Once project deleted there is now way it can be bring back.</small>
        </div>
    </form>
</div>
{% endblock content %}