{% load static %}

<section>
	<div class="">
	  <div class="">
	    Welcome <b>{{user.username}}</b>
	  </div>
	  <div class="card-body">
	    <p class="card-text">Post Your Projects here to get reviewd by your peers</p>
	    <p class="card-text">To add or update your personal information <a href="{% url 'profile-update' %}">click here</a>.</p>
	    <p>You can also search for other projects here <a href="{% url 'blog:search' %}">search</a> page.</p>
	    <p>To add your first Project click the button below.</p>
	    <a href="{% url 'awadz:post-create' %}" class="btn btn-primary">Add Project</a>
	  </div>
	</div>
	<br>
</section>
